<<<<<<< HEAD
@import url("../2_CSS/webfont.css");
html {
  overflow-x: hidden;
  height: 1500px;
  background-color: rgb(60, 59, 59);
  padding: 0;
  margin: 0;
<<<<<<< HEAD
}

body {
  background-color: rgb(152, 32, 32);
  background-blend-mode: multiply, multiply;
  background-repeat: no-repeat;
  font-family: "hashibaregular";
  color: #ffffff;
  font-size: 1.5REM;
=======
  scroll-behavior: smooth;
}

body {
  background-color: #212529;
  background-blend-mode: multiply, multiply;
  background-repeat: no-repeat;
  font-family: "hashibaregular";
  color: #f1faee;
  font-size: 2.5REM;
>>>>>>> 381bf0ae96520cf8466a786d04d9ce1d6202a002
  padding: 0;
  margin: 0;
  position: relative;
  height: 1500px;
}
body main {
  height: 1500px;
<<<<<<< HEAD
=======
  background-image: url("../../../png-transparent-monkey-d-luffy-line-art-drawing-sketch-one-piece-manga-angle-white-face.png");
  background-repeat: no-repeat;
>>>>>>> 381bf0ae96520cf8466a786d04d9ce1d6202a002
  margin-bottom: 0%;
}
body main h1 {
  text-align: center;
<<<<<<< HEAD
  margin-bottom: 1%;
=======
  margin-bottom: 2.5%;
  margin-top: 0%;
  margin-left: 40%;
  padding-top: 1.25%;
  text-shadow: 5px 5px #0466c8;
>>>>>>> 381bf0ae96520cf8466a786d04d9ce1d6202a002
}
body main nav {
  display: flex;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  gap: 5%;
  padding-top: 3%;
  height: 100px;
}
body main nav .btn {
  background-color: rgb(196, 161, 228);
  padding: 1.5%;
  border-radius: 10px;
  color: #ffffff;
=======
  flex-flow: column wrap;
  gap: 25%;
  padding-left: 7.5%;
  padding-top: 5%;
  height: 600px;
  position: fixed;
  z-index: 2;
}
body main nav .btn {
  background-color: #f1faee;
  padding: 5%;
  border-radius: 10px;
  color: #212529;
>>>>>>> 381bf0ae96520cf8466a786d04d9ce1d6202a002
  font-size: 1.5REM;
  font-family: "mplus_rounded1cblack";
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.5s ease;
<<<<<<< HEAD
}
body main nav .btn:hover {
  transform: scale(1.1);
  background-color: rgb(184, 139, 227);
=======
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.25) 0px -12px 30px, rgba(0, 0, 0, 0.25) 0px 4px 6px, rgba(0, 0, 0, 0.25) 0px 12px 13px, rgba(0, 0, 0, 0.125) 0px -3px 5px;
}
body main nav #btn1:hover {
  transform: scale(1.1);
  background-color: #f25c54;
}
body main nav #btn2:hover {
  transform: scale(1.1);
  background-color: #ffd166;
}
body main nav #btn3:hover {
  transform: scale(1.1);
  background-color: #B8C0FF;
>>>>>>> 381bf0ae96520cf8466a786d04d9ce1d6202a002
}
body main .droite {
  left: 110%;
  transition: left 0.8s ease, right 0.8s ease;
  width: 100%;
}
body main .gauche {
  left: -110%;
  transition: left 0.8s ease, right 0.8s ease;
  width: 100%;
}
body main .centre {
  right: 0%;
  left: 0%;
  width: 100%;
  transition: left 0.8s ease, right 0.8s ease;
}
body main section {
  position: absolute;
  height: 1200px;
<<<<<<< HEAD
=======
  z-index: 0;
>>>>>>> 381bf0ae96520cf8466a786d04d9ce1d6202a002
}
body main section h2 {
  text-align: center;
  margin-top: 0;
<<<<<<< HEAD
=======
  position: absolute;
  left: 25%;
  top: -3.5%;
>>>>>>> 381bf0ae96520cf8466a786d04d9ce1d6202a002
}
body main section article {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
}
body main section article canvas {
  background-color: bisque;
  min-width: 50%;
  min-height: 45%;
=======
  z-index: 1;
}
body main section article canvas {
  min-width: 65%;
  min-height: 50%;
  max-width: 70%;
  max-width: 50%;
  margin-left: 15%;
  background-color: #f25c54;
>>>>>>> 381bf0ae96520cf8466a786d04d9ce1d6202a002
}
body main section article p {
  padding: 1% 25%;
  font-family: "mplus_rounded1cmedium";
  color: #ffffff;
  font-size: 1.5REM;
  --pink-lavender: #cdb4dbff;
  --orchid-pink: #ffc8ddff;
  --nadeshiko-pink: #ffafccff;
  --uranian-blue: #bde0feff;
  --baby-blue-eyes: #a2d2ffff;
  /*
  $pink-lavender:#cdb4dbff;
  $orchid-pink:#ffc8ddff;
  $nadeshiko-pink:#ffafccff;
  $uranian-blue:#bde0feff;
  $baby-blue-eyes:#a2d2ffff; 
  */
<<<<<<< HEAD
=======
}

footer {
  background-color: #f1faee;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 75px;
  margin-left: 75%;
  bottom: 0;
  position: absolute;
  border-top-left-radius: 75px 75px;
}

h4 {
  font-size: 2REM;
  font-family: "mplus_rounded1cblack";
  margin-left: 5%;
  color: #212529;
>>>>>>> 381bf0ae96520cf8466a786d04d9ce1d6202a002
}/*# sourceMappingURL=index.css.map */
=======

@import url("./webfont.css");

html{

    overflow-x:hidden;
    background-color:#131515;
    height:1500px;
    padding:0;
    margin:0;
    scroll-behavior:smooth;

}

body{

    background-image:linear-gradient(-135deg, #131515 0%, hsla(180, 5%, 8%, 0.75) 100%);
    background-blend-mode:multiply, multiply;
    background-repeat:no-repeat;
    font-family:"Hashiba";
    color:#faf9f9;
    font-size:1.5REM;
    height:1500px;
    position:relative;
    padding:0;
    margin:0;
}

body main{

    height:1500px;
    margin-bottom:0%;
    z-index:0;

}

body main nav{

    display:flex;
    justify-content:start;
    align-items:center;
    flex-flow:column wrap;
    gap:10%;
    padding-top:5%;
    padding-left:7.5%;
    height:1500px;
    position:fixed;
    z-index:2;

}

body main nav .btn{

    background-color:#faf9f9;
    color:#131515;
    font-family:"MPLUSRounded1C Medium";
    font-size:1REM;
    width:150px;
    padding:5%;
    border:none;
    border-radius:15px;
    box-shadow:#faf9f9;
    box-shadow:#131515 0px 20px 30px -10px;
    transition: transform 0.25s ease, background-color 0.5s ease;
    cursor:pointer;

}

body main nav #Premier:hover{

    transform:scale(1.25);
    background-color:#dab6fc;

}

body main nav #Deuxieme:hover{
    
    transform:scale(1.25);
    background-color:#ffe761;

}

body main nav #Troisieme:hover{
    
    transform:scale(1.25);
    background-color:#f08080;

}

body main h1{

    text-align:end;
    color:#faf9f9;
    font-size:5REM;
    margin-top:2.5%;
    margin-bottom:2.5%;
    margin-right:2.5%;
    text-shadow:5px 5px#a2d2ff;
}

/* body main h2{

    text-align:end;
    color:#faf9f9;
    font-family:"MPLUSRounded1C Medium";
    font-size:2REM;
    margin-top:2.5%;
    margin-bottom:5%;
    margin-right:2.5%;
    text-shadow:5px 5px hsla(209, 100%, 82%, 0.5);

} */

body main .droite{

    width:100%;
    left:-110%;
    transition: left 1s ease, right 1s ease;

}

body main .gauche{

    width:100%;
    left:-110%;
    transition: left 1s ease, right 1s ease;

}

body main .centre{

    width:100%;
    left:0%;
    right:0%;
    transition: left 1s ease, right 1s ease;

}

body main section{

    height:1200px;
    position:absolute;
    z-index:1;

}

body main section article{

    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:wrap row;

}

body main section article canvas{

    background-color:red;
    min-width:60%;
    min-height:50%;
    max-width:75%;
    max-height:50%;
    margin-left:15%;

}

body main section h3{

    text-align:center;
    color:#faf9f9;
    font-family:"Hashiba";
    font-size:2.5REM;
    margin-top:-5%;
    margin-bottom:5%;
    margin-left:30%;
    margin-right:5%;
    position:absolute;

}

body main section p{

    text-align:center;
    color:#faf9f9;
    font-family:"MPLUSRounded1C Light";
    font-size:1.5REM;
    padding: 2.5% 25%;

}

body main footer{

    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#faf9f9;
    width:25%;
    height:75px;
    margin-left:75%;
    bottom:0;
    position:absolute;
    border-top-left-radius:37.5px 37.5px;

}

body main footer h4{

    text-align:center;
    color:#131515;
    font-family:"MPLUSRounded1C Light";
    font-size:1.5REM;

}

/*Couleurs*/

/* #131515, #faf9f9, #a2d2ff, #dab6fc, #ffe761, #f08080 */
>>>>>>> b1af65055e1169dc16fdcd8d2bf3fe249d9ef4ef
